@using Geocaching.App_GlobalResources
@model Geocaching.Models.LogInViewModel
<div class="modal-header">
    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title">
        <i class="fa fa-lock"></i>
        @Resource.LogIn
    </h4>
</div>

@using (Html.BeginForm("LogIn", "Account", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-group">
            @Html.ValidationSummary(true, "", new { @id = "text-danger" })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.EmailLogin, new { htmlAttributes = new { @placeholder = Resource.Email, @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmailLogin)
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.PasswordLogin, new { htmlAttributes = new { @placeholder = Resource.Password, @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PasswordLogin, "", new { @class = "text-danger" })
        </div>
        <div class="loginbox">
            <input type="submit" value=@Resource.LogIn class="btn signin-btn" />
        </div>

        <div class="modal-footer footer-box">
            <span><a id="signup-btn" href="#">@Resource.Registration</a></span>
            <span><a id="forgot-btn" href="#">@Resource.ForgotPassword</a></span>
        </div>
    </div>
}
