@using Geocaching.App_GlobalResources
@model Geocaching.ViewModels.UserPageViewModel
@{
    ViewBag.Title = Model.Name;
}

<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="testimonial-slider">
                            <div class="single-slider">
                                <div class="testimonial-img">
                                    <img src="@Url.Content(Model.Photo)" alt="testimonial image"/>
                                </div>
                                <div class="testimonial-content">
                                    <h3>@Model.Name</h3>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        Hello
                    </div>
                    <div>
                        @Html.ActionLink("Hello", "CachePage", "Cache", new { id = 1 }, null)
                        @Html.ActionLink("Hello222","VisitedCache", new { id = Model.IdUserInSystem }, null)

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="latest-news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-area">
                    <h2 class="title">@Resource.LatestAddCache</h2>
                    <span class="line"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="latest-news-content">
                    <div class="row">
                        @Html.Partial("LatestCache", Model.LastMyCache)
                    </div>
                </div>
            </div>
            
            <div class="col-md-12">
                <div class="title-area">
                    <h2 class="title">@Resource.LatestVisitedCache</h2>
                    <span class="line"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="latest-news-content">
                    <div class="row">
                        @Html.Partial("LatestCache", Model.LastVisitedCache)
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>