@using Geocaching.App_GlobalResources
@model Geocaching.ViewModels.UserPageViewModel
@{ long userInSystem = Convert.ToInt64(Session["UserId"]);  }
@{
    ViewBag.Title = Model.Name;
}

<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="testimonial-slider">
                            <div class="single-slider">
                                <div class="testimonial-img">
                                    <img src="@Url.Content(Model.Photo)" alt="testimonial image"/>
                                </div>
                                <div class="testimonial-content">
                                    <h3 style="color: #000"><br/>@Model.Name</h3>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                      @if (HttpContext.Current.User.Identity.IsAuthenticated && Model.IdUserPage == userInSystem)
                      {
                          <div>
                              @Html.ActionLink(@Resource.EditProfile, "EditProfile", new {id = Model.IdUserPage}, new {@style = "font-size: 20px; color: #000"})
                          </div>
                          <div>
                              @Html.ActionLink(@Resource.EditPassword, "EditPass", new {id = Model.IdUserPage}, new {@style = "font-size: 20px; color: #000"})
                          </div>
                      }
                    </div>                  
                </div>
            </div>
        </div>
    </div>
</section>

<div class="col-md-12">
    <div class="title-area">
        <h2 class="title"><br/>@Resource.MyPhotos</h2>
        <span class="line"></span>
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <br/>@Html.ActionLink(Resource.ViewAll, "MyPhotos", "Profile", new {id = Model.IdUserPage}, null)

        }
    </div>
</div>
<div id="geoMap"></div>
@if (Model.LastUserPhoto.Count > 0)
{
    @Html.Partial("Photos", Model.LastUserPhoto)
}
@if (HttpContext.Current.User.Identity.IsAuthenticated && Model.IdUserPage == userInSystem)
{
    <section id="blog-archive">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="blog-archive-area">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="comments-box-area">
                                    <h2>
                                        @Resource.AddPhoto
                                    </h2>
                                    @using (Html.BeginForm("AddPhotoUser", "Profile", null, FormMethod.Post, new {enctype = "multipart/form-data"}))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(model => Model.IdUserPage)
                                        <input type="file" id="NewPhoto" name="upload" lang="en-US"/>
                                        <br/>
                                        <p>
                                            @Html.ValidationMessageFor(model => model.NewPhoto, "", new {@class = "control-label"})
                                        </p>
                                        <br/>
                                        <input type="submit" value=@Resource.AddPhoto class="comment-btn" style="width: 100%"/>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<section id="latest-news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-area">
                    <h2 class="title">@Resource.LatestAddCache</h2>
                    <span class="line"></span>
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <br />@Html.ActionLink(Resource.ViewAll, "MyCaches", "Profile", new { id = Model.IdUserPage }, null)
                    }
                </div>
            </div>
            <div class="col-md-12">
                <div class="latest-news-content">
                    <div class="row">
                        @Html.Partial("LatestCache", Model.LastMyCache)
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="title-area">
                    <h2 class="title"><br />@Resource.LatestVisitedCache</h2>
                    <span class="line"></span>
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <br />@Html.ActionLink(Resource.ViewAll, "VisitedCache", "Profile", new { id = Model.IdUserPage }, null)
                    }
                </div>
            </div>
            <div class="col-md-12">
                <div class="latest-news-content">
                    <div class="row">
                        @Html.Partial("LatestCache", Model.LastVisitedCache)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



