@using Geocaching.App_GlobalResources
@model Geocaching.Models.LogInViewModel

@{
    ViewBag.Title = @Resource.LogIn;
}

<section id="single-page-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="single-page-header-left">
                        <h2>@Resource.LogIn</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>




@using (Html.BeginForm("LogIn", "Account", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-area">
                        <p>
                            @Html.ValidationSummary(true, "", new { @id = "text-danger" })
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(model => model.EmailLogin, new { htmlAttributes = new { @placeholder = Resource.Email, @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.ValidationMessageFor(model => model.EmailLogin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(model => model.PasswordLogin, new { htmlAttributes = new { @placeholder = Resource.Password, @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.ValidationMessageFor(model => model.PasswordLogin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <input type="submit" value=@Resource.LogIn class="comment-btn"/>
                    @Html.ActionLink(@Resource.ForgotPassword, "PassRecovery", "Account")
                </div>
            </div>
        </div>
    </section>
}


